* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

body {
  font-family: "Fredoka", sans-serif;
}

/* header */

h1 {
  color: #e53170;
  text-align: center;
  font-weight: bolder;
}

/* main  */
section > p {
  margin-bottom: 50px;
  text-align: justify;
}

header {
  margin: 50px;
}

/* utiities */
.cards-utility {
  background-color: black;
  color: white;
  width: calc(100% / 3 - 1rem);
  float: left;
  margin: 0.5rem;
}

div.cards-utility img {
  height: 100px;
  float: left;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

a {
  text-decoration: none;
  color: #5eb8da;
  padding: 0px;
}
